services:
  # ==========================
  # AUTH DATABASE
  # ==========================
  auth-db:
    image: postgres:16
    container_name: auth-db
    environment:
      POSTGRES_DB: authdb
      POSTGRES_USER: ducthuanle
      POSTGRES_PASSWORD: password_ducthuanle
      #POSTGRES_INITDB_ARGS: "--encoding=UTF8"
    ports:
      - "5440:5432"
    networks:
      - ecommerce-net
    volumes:
      - auth-db-data:/var/lib/postgresql/data

  # Database riêng cho user-service
  user-db:
    image: postgres:16
    container_name: user-db
    environment:
      POSTGRES_DB: userdb
      POSTGRES_USER: ducthuanle
      POSTGRES_PASSWORD: password_ducthuanle
    ports:
      - "5433:5432"
    volumes:
      - user-db-data:/var/lib/postgresql/data
    networks:
      - ecommerce-net

  # ==========================
  # AUTH SERVICE
  # ==========================
  auth-service:
    build:
      context: .
      dockerfile: ./auth-service/Dockerfile
    container_name: auth-service
    depends_on:
      - auth-db
    env_file:
      - ./auth-service/.env
    ports:
      - "8080:8080"
    networks:
      - ecommerce-net

  # user-service microservice
  user-service:
    #build: ./user-service -> context ís user-service
    build:
      context: . # context is root of project
      dockerfile: ./user-service/Dockerfile
    container_name: user-service
    depends_on:
      - user-db
    env_file:
      - ./user-service/.env
    ports:
      - "8081:8081"
    networks:
      - ecommerce-net

networks:
  ecommerce-net:

volumes:
  auth-db-data:
  user-db-data:
